<% if current_user %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.logo = "<%= asset_path('trelloicon-white.svg') %>"
  window.closeIcon = "<%= asset_path('close.svg') %>"
  window.closeWhiteIcon = "<%= asset_path('close-white.svg') %>"
  window.closeDarkIcon = "<%= asset_path('close-dark.svg') %>"
  window.editIcon = "<%= asset_path('edit.svg') %>"
  window.editDarkIcon = "<%= asset_path('edit-dark.svg') %>"
  window.githubIcon = "<%= asset_path('github.svg') %>"
  window.starIcon = "<%= asset_path('star.svg') %>"
  window.starGoldIcon = "<%= asset_path('star-gold.svg') %>"
  window.starGrayIcon = "<%= asset_path('star-gray.svg') %>"
  window.personIcon = "<%= asset_path('trellian.svg') %>"
  window.moreIcon = "<%= asset_path('more.svg') %>"
  window.moreWhiteIcon = "<%= asset_path('more-white.svg') %>"
  window.trashIcon = "<%= asset_path('trash.svg') %>"
  window.trashDarkIcon = "<%= asset_path('trash-dark.svg') %>"
  window.homeIcon = "<%= asset_path('home.svg') %>"
  window.plusIcon = "<%= asset_path('plus.svg') %>"
  window.plusWhiteIcon = "<%= asset_path('plus-white.svg') %>"
  window.arrowIcon = "<%= asset_path('arrow.svg') %>"
  window.backArrowIcon = "<%= asset_path('back-arrow.svg') %>"
  window.cardIcon =  "<%= asset_path('card.svg') %>"
  window.descriptionIcon =  "<%= asset_path('description.svg') %>"
  window.shareIcon = "<%= asset_path('googleshare.svg') %>"
  window.searchIcon = "<%= asset_path('search.svg') %>"
  window.activityIcon = "<%= asset_path('activity.svg') %>"
  window.commentsIcon = "<%= asset_path('comments.svg') %>"
</script>

<div id="root">
  React will render here!
</div>
